# fly.toml app configuration file generated for encrypted-file-server on 2024-04-23T15:32:04-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'big-file-server'
primary_region = 'ord'

[deploy]
  release_command = 'sqlx migrate run'

[env]
  RUST_BACKTRACE = '1'
  TOKEN_PUBLIC_KEY = 'd27fb9c11d7608f86aa9e90a00133d58688b2fe4e7903a35199a25f7e905f658'

[http_service]
  internal_port = 80

[[services]]
  protocol = 'udp'
  internal_port = 9999
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

  [[services.ports]]
    port = 9999

[[restart]]
  policy = "never"
  retries = 10
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
